<template name="SubscribeIndex">

    client/views/subscribe/subscribe_index/subscribe_index.html

    <a href="{{paymentUrl.url}}"> Compraaaaaaaaar! </a>

    <p>URL: {{paymentUrl.url}}</p>
    <p>ERROR: {{ paymentUrl.error }}</p>



    <table id="mpStatus">
        <tbody>
            <tr>
                <th>_id</th>                
                <th>subscriptionId</th>
                <th>paymentTopic</th>
                <th>paymentStatus</th>
                <th>raw</th>
            </tr>

            {{#each mercadoPagoStatus}}
            <tr>
            	<td>{{_id}}</td>
                <td>{{subscriptionId}}</td>
                <td>{{paymentTopic}}</td>
                <td>{{paymentStatus}}</td>
                <td>{{raw}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>